{{!-- <h2>Best Score</h2> --}}

<table>
  <tr>
    {{!-- <th>Rank</th> --}}
    <th>Name One</th>
    <th>Name Two</th>
    <th>Compatability</th>
  </tr>

  {{#each couple}}
  {{couple}}
  <tr>
    {{!-- <td>{{dataValues.id}}</td> --}}
    <td>{{dataValues.name1}}</td>
    <td>{{dataValues.name2}}</td>
    <td>{{dataValues.compatability}}</td>

  </tr>
  {{/each}}
</table>